@import 'golos/Golos Text_Regular.css';

.column-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-gap {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.long-gap {
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.upload-form {
    align-items: center;
    flex: auto;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-file {
    width: 140px;
}

.action-button {
   width: 33px;
   height: 33px;
   font-weight: bold;
}

.angle-input-form {
    width: 60px;
    font-size: inherit !important;
    padding: 5px !important;
    background-image: none !important;
    border: 1px solid gray;
}

.angle-seconds-form {
    width: 85px;
}

.common-label {
    width: 40%;
    display: flex;
    align-items: center;
}

.common-input {
    width: 50%;
    font-size: inherit !important;
    border: 1px solid hsl(220deg 2% 70%);
}

.switch-input {
    width: 50%;
}

.switch-input .form-check-input {
    height: 20px;
    width: 40px;
    float: right;
}

.excel-download-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-numeric-form{
    width: 60%;
}

.label-form {
    display: flex;
    align-items: center;
}

.component-hidden {
    display: None !important;
}

.file-name {
    flex: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.small-padding {
    padding: 5px;
}

.padding-top {
    padding-top: 10px;
}

.custom-border-top {
    border-top: 1px solid hsl(220deg 2% 70%);
}

.error-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.common-icon {
    height: 2em;
    width: auto;
    filter: invert(1) brightness(2);
    padding: 5px;
}

.common-icon-size {
    height: 2em;
    width: auto;
    padding: 5px;
}

.menu-icon-size {
    height: 40px;
    width: auto;
    padding: 5px;
}

.justify-end {
    justify-content: flex-end;
}

.stats-form {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.stats-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid hsl(220deg 2% 70%);
}

.navigational-bar {
    height: 50px;
}

.navigational-bar .navbar-brand {
  color: #c1c2c5 !important;
  font-weight: bold;
}

.navigation-item {
  color: #c1c2c5;
  border-left: 1px solid #abacaf;
}

body {
  font-family: GolosTextWebRegular, monospace;
  font-size: 14px;
  background-color: hsla(220, 5%, 88%, 1);
}

.common-button {
  font-size: inherit !important;
  font-family: inherit !important;
}

.Pane1 {
  background-color: hsla(220, 5%, 88%, 1);
  padding: 5px;
}

.nav-tabs {
  border-bottom-color: hsl(220deg 2% 70%);
}

.nav-link {
  border-color: hsl(220deg 2% 70%) !important;
}

.nav-link.active {
  border-color: hsl(220deg 2% 70%) !important;
  background-color: rgb(200,201,203) !important;
}

#tabs_select .nav-link {
  color: black;
}

.nav-link:hover {
  color: white;
}

#tabs_select .nav-link:hover {
  background-color: lightgray !important;
}

.upload-button {
  background-color: rgb(34,94,151);
  border: 0;
  width: 135px;
}

.upload-button:hover {
  background-color: rgb(16,110,190) !important;
  border: 0 !important;
}

.delete-button {
  background-color: #A65353;
  border: 0;
}

.delete-button:hover {
  background-color: #ba0926 !important;
  border: 0 !important;
}

.download-button {
  background-color: rgb(34,94,151);
  border: 0;
}

.download-button:hover {
  background-color: rgb(16,110,190) !important;
  border: 0 !important;
}

.calculation-button {
  background-color: #6C6E83;
  border: 0;
}

.calculation-button:hover {
  background-color: #62667A !important;
  border: 0 !important;
}

.common-input:focus {
    border: 1px solid #ACAEC3 !important;
    box-shadow: 0 0 0 1px rgb(167,168,170) !important;
}

.common-input.is-invalid:focus {
    border: 1px solid #a65353 !important;
    box-shadow: 0 0 0 1px #a65353 !important;
}

.angle-input-form:focus {
    border: 1px solid #ACAEC3 !important;
    box-shadow: 0 0 0 1px rgb(167,168,170) !important;
}

.angle-input-form.is-invalid:focus {
    border: 1px solid #A65353 !important;
    box-shadow: 0 0 0 1px #A65353 !important;
}

.nav-link:focus {
    color: white;
}

.is-invalid {
  border: 1px solid #A65353 !important;
}

.shape-download-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.custom-loading-spinner > div {
  width: 20px !important;
  height: 20px !important;
  border-width: 2px !important;
}

.custom-loading-spinner {
  width: 20px !important;
  height: 20px !important;
}

.dash-spinner {
  margin: 0 !important;
}

.shape-upload-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#upload_result {
  padding-right: 20px;
}